.conjunto-widget{
    display: flex;
    
    color: white;
    justify-content:center;
    align-items: flex-end;
    align-content: center;
    justify-items: center;
}
.carrito{
    width: 10%;
    
}